.social {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialUl {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.socialContact {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.3em;
  height: 2.3em;
  border-radius: 0.4em;
  font-size: 1.5em;
}
.socialContact.lol {
  background-color: var(--lol);
}
.socialContact.val {
  background-color: var(--val);
}
.socialContact.lor {
  background-color: var(--lor);
}

.socialContact a{
  text-decoration: none;
  color: white;
}